.apst-wrapper,
.apst-wrapper::before,
.apst-wrapper::after,
.apst-wrapper *,
.apst-wrapper *::before,
.apst-wrapper *::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

.apst-wrapper {
    display: none;
    position: fixed;
    z-index: 99999;
    cursor: pointer;
    box-sizing: border-box;

    /* No blue highlight when clicking on element on mobile devices */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    }

    .apst-top {
        top: 20px;
        }

    .apst-bottom {
        bottom: 20px;
        }

    .apst-left {
        left: 20px;
        }

    .apst-center {
        left: 50%;
        margin-left: -30px;
        }

    .apst-right {
        right: 20px;
        }

    .apst-button {
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        background-color: #555;
        -webkit-transition: all 0.2s;
           -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
             -o-transition: all 0.2s;
                transition: all 0.2s;
        }

.apst-button::before {
        content: url('../assets/Images/SocialIcons/arrow-up-xs.png');
        display: block;
        position: relative;
        left:4px;
        top: 4px;
        width: 10px;
        height: 10px;

        }

    .apst-button:hover {
        background-color: #333;
        }

    .apst-button:hover::before {
        border-color: white;
        }

